<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Editor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/monokai.min.css">
    <link rel="stylesheet" href="{% static 'styles/editor.css' %}">
    <link rel="stylesheet" href="{% static 'styles/toolbar.css' %}">
</head>
<body>
    <div class="toolbar">
        <h1>Room: {{ room_name }}</h1>
        <button id="copy-button" class ="button-12" onclick="CopyLink()">Copy room link</button>
        <button id="download-button" class="button-12">Download as .txt</button>
    </div>
    <textarea id="editor"></textarea>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/python/python.min.js"></script>

    <script>
        const roomName = "{{ room_name }}";
        const ws = new WebSocket('ws://' + window.location.host + '/ws/' + roomName + '/');

        const editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
            mode: "python",
            theme: "monokai",
            lineNumbers: true
        });

        let ignoreChange = false;

        ws.onmessage = function(event) {
            const data = JSON.parse(event.data);
            ignoreChange = true;
            const cursor = editor.getCursor();
            editor.setValue(data.message);
            editor.setCursor(cursor);
            ignoreChange = false;
        };

        editor.on('change', () => {
            if (!ignoreChange) {
                ws.send(JSON.stringify({
                    'message': editor.getValue()
                }));
            }
        });

        ws.onclose = function(event) {
            console.error('Chat socket closed unexpectedly');
        };

    function CopyLink() {
    // Get the current URL
    var copyText = window.location.href;

    // Copy the text inside the text field
    navigator.clipboard.writeText(copyText).then(() => {
        // Alert the copied text
        alert("Copied the URL: " + copyText);
    }).catch(err => {
        console.error('Failed to copy: ', err);
    });
};
    </script>
 <script src="{% static 'js/editor.js' %}"></script>
</body>
</html>
