<!DOCTYPE html>
<html>
<head>
    <title>Editor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/monokai.min.css">
    <style>
        .CodeMirror {
            height: 90vh;
        }
        .toolbar {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="toolbar">
        <h1>Room: {{ room_name }} <button id="download-button">Download as .txt</button></h1>
    </div>
    <textarea id="editor"></textarea>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/python/python.min.js"></script>
    <script>
        const roomName = "{{ room_name }}";
        const ws = new WebSocket('ws://' + window.location.host + '/ws/' + roomName + '/');

        const editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
            mode: "python",
            theme: "monokai",
            lineNumbers: true
        });

        let ignoreChange = false;

        ws.onmessage = function(event) {
            const data = JSON.parse(event.data);
            ignoreChange = true;
            const cursor = editor.getCursor();
            editor.setValue(data.message);
            editor.setCursor(cursor);
            ignoreChange = false;
        };

        editor.on('change', () => {
            if (!ignoreChange) {
                ws.send(JSON.stringify({
                    'message': editor.getValue()
                }));
            }
        });

        ws.onclose = function(event) {
            console.error('Chat socket closed unexpectedly');
        };

        document.getElementById('download-button').addEventListener('click', function() {
            const textToWrite = editor.getValue();
            const textFileAsBlob = new Blob([textToWrite], { type: 'text/plain' });
            const fileNameToSaveAs = "editor_content.txt";

            const downloadLink = document.createElement("a");
            downloadLink.download = fileNameToSaveAs;
            downloadLink.innerHTML = "Download File";
            if (window.webkitURL != null) {
                downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
            } else {
                downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
                downloadLink.onclick = destroyClickedElement;
                downloadLink.style.display = "none";
                document.body.appendChild(downloadLink);
            }

            downloadLink.click();
        });

        function destroyClickedElement(event) {
            document.body.removeChild(event.target);
        }
    </script>
</body>
</html>
